<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
      
      <div class="quote" *ngFor='let quote of quotes;let i = index'>
        <p>{{quote.name}}</p>
        <div class="votes">
            <h3>Upvote:<span id="liked">{{quote.like}}</span></h3>
          <h3>Downvote: <span id="disliked">{{quote.like2}}</span></h3>
        </div>
        <div id="vote">
          <button (click)="upvote(quote)" class="upvote">Upvote</button>
          <button (click)="downvote(quote)" class="downvote">Downvote</button><br>
        </div>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quote-detail *ngIf="quote.showDescription" [quote]='quote' (deleteit)='deleteQuote($event,i)'>
        </app-quote-detail>
      </div>
      <div class="col-md-8">
          <button *ngIf='quotes.length>0' class="rankquote" (click)='getBestQuote()'>Ranked Quotes</button>
          <div *ngIf='bestQuote && quotes.length>0'>
            <div class="bestVotes" appStrikethrough>
              <h3>Best Poster:{{bestQuote}}</h3>
              <p> Best Votes:{{bestVotes}}</p>
              <p> Best Author:{{bestAuthor}}</p>
              <p> Best Quote:{{bestPoster}}</p>
            </div>
          </div>
      <app-quote-form (addQuotes)='addNewQuotes($event)'></app-quote-form>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>