/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.quote{
    text-align: center;
    justify-content: space-around;
}
#liked{
    text-align: center;
}
#disliked{
    text-align: center;
}
body{
    background-color:lightcyan;
}